extends layout

block content
    h1.text-center Editar Especialidad
    form(method='POST' action=`/especialidad/edit/${especialidad.id_especialidad}` class='mt-4')
        .mb-3
            label(for='descripcion') Descripción
            input#descripcion.form-control(type='text' name='descripcion' value=especialidad.descripcion required)
        button.btn.btn-warning(type='submit') Actualizar
